$main-color: #00b285;

#l-home {
  overflow: hidden;
  height: 70 * 1vmin;

  .ftco-slant {
    width: 45 * 1vmin;
    height: 45 * 1vmin;
    position: absolute;
    background: transparent;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(darken($blue, 20%), 0.5);
      transform-origin: top right;
      transform: skewX(-45deg);
    }
  }
}
