doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title S&R Systems | Первапорация
  body
    include ../../includes/header.pug
    section
      .container
        .row.justify-content-around.align-items-center
          .col-12.col-md-5
            img.img-fluid(src='~images/perv_intro.png', alt='pervoporation')

          .col-12.col-md-6.text-justify
            h5.mb-5 Первапорация
            p.
              Первапорация - диффузионный мембранный процесс разделения жидких смесей сопряженный с переходом проникающих через мембрану веществ в пар. Первапорационное разделение энергоэффективная альтернатива термическим методам разделения, таким как ректификация.

        .row.article.mt-4
          .col-12.mb-3
            .panel.panel-default
                  .panel-heading
                    a(data-toggle='collapse', data-target="#one")
                      h5 Фундаментальные основы процесса первапорации
                        i.icon-scroll-arrow-to-right-1
                  #one.panel-collapse.collapse.out
                    .panel-body
                      p
                        | В силу своей диффузионной природы первапорационные процессы подчиняются&nbsp;
                        a(href="https://goo.gl/D2oPdC") законам Фика
                        |, из этого следует, что движущей силой первапорации является&nbsp;
                        a(href="https://goo.gl/fMTaAE") градиент&nbsp;
                        |
                        a(href="https://goo.gl/DTixE7") химического потенциала&nbsp;
                        | реализуемый на мембране в процессе разделения. Интересной особенностью процессов первапорационного разделения является то, что в отличие от множества других мембранных процессов, таких как обратный осмос, ультра и нано-фильтрация, увеличение давления со стороны питающей смеси не влияет на производительность процесса.

                      p.
                        Обьяснение этого факта может быть найдено при рассмотрении математического определения химического потенциала компонента жидкой смеси:
                      img(class='img-fluid' src='~images/potencial.png')
                      p.
                        Как видно, увеличение давления со стороны питающей смеси практически не влияет на значение химического потенциала компонента в силу несжимаемости жидкостей. Наибольший скачок химический потенциал претерпевает вблизи поверхностей мембранного материала со стороны питащей смеси и пермеата из-за резкого изменения конентрации компонента обусловленного коэффициентом распределения сорбции. Поэтоому наиболее часто используемой моделью для описания процессов первапорации является модель растворения-диффузии. Согласно этой модели селективно-транспортные свойства мембранного материала определяются сорбционной активностью компонентов, их способностью к диффузии внутри полимерной матрицы и обычно подвержены влиянию состава питающей смеси, температуры и газо-гидродинамического режима течения со стороны питающей смеси и пермеата. Создание необходимого градиента химического потенциала в основном осуществляется путем отвтода пермеата (снижения его парциального давления со стороны пермеата). Наиболее популярными среди них на сегодняшний день являются: вакуумное дегазирование, сдув потоком инертного газа и термическая конденсация. Для эффективного использования процесса превапорации на практике она должна обеспечивать бОльшую транспортную селективность по отношению к обычному испарению
          //- .col-12
          //-   .panel.panel-default
          //-         .panel-heading
          //-           a(data-toggle='collapse', data-target="#two")
          //-             h5 Промышленное применение
          //-               i.icon-scroll-arrow-to-right-1
          //-         #two.panel-collapse.collapse.out
          //-           .panel-body
          //-             p
          //-               | В силу своей диффузионной природы первапорационные процессы подчиняются
          //-               a(href="https://goo.gl/D2oPdC") законам Фика
          //-               | , из этого следует, что движущей силой первапорации является
          //-               a(href="https://goo.gl/fMTaAE") градиент
          //-               |
          //-               a(href="https://goo.gl/DTixE7") химического потенциала
          //-               | реализуемый на мембране в процессе разделения. Интересной особенностью процессов первапорационного разделения является то, что в отличие от множества других мембранных процессов, таких как обратный осмос, ультра и нано-фильтрация, увеличение давления со стороны питающей смеси не влияет на производительность процесса.

          //-             p.
          //-               Обьяснение этого факта может быть найдено при рассмотрении математического определения химического потенциала компонента жидкой смеси:
          //-             img(class='img-fluid' src='~images/potencial.png')
          //-             p.
          //-               Как видно, увеличение давления со стороны питающей смеси практически не влияет на значение химического потенциала компонента в силу несжимаемости жидкостей. Наибольший скачок химический потенциал претерпевает вблизи поверхностей мембранного материала со стороны питащей смеси и пермеата из-за резкого изменения конентрации компонента обусловленного коэффициентом распределения сорбции. Поэтоому наиболее часто используемой моделью для описания процессов первапорации является модель растворения-диффузии. Согласно этой модели селективно-транспортные свойства мембранного материала определяются сорбционной активностью компонентов, их способностью к диффузии внутри полимерной матрицы и обычно подвержены влиянию состава питающей смеси, температуры и газо-гидродинамического режима течения со стороны питающей смеси и пермеата. Создание необходимого градиента химического потенциала в основном осуществляется путем отвтода пермеата (снижения его парциального давления со стороны пермеата). Наиболее популярными среди них на сегодняшний день являются: вакуумное дегазирование, сдув потоком инертного газа и термическая конденсация. Для эффективного использования процесса превапорации на практике она должна обеспечивать бОльшую транспортную селективность по отношению к обычному испарению

    section.sub-section.series-card
      .container
        h5.text-center.title.mb-4 каталог

        .card-deck.justify-content-center
          .row.series-card.justify-content-center
            .card.col-10.col-md-4.mb-4.box-shadow.series
              img.img-fluid-90(src='~images/romakon.png')
              .card-body
                h6.title Мембранные материалы
                p.card-text.
                  Первапорационные мембраны на основе полигетероариленов для разделения различных жидких смесей органических веществ, в том числе для обезвоживания органических растворителей.
                a(class='d-flex align-items-center' href='/ru/membrans/material')
                  span.mr-1 Посмотреть продукцию
                  i.icon-scroll-arrow-to-right-1

            .card.col-10.col-md-4.mb-4.box-shadow.series
              img.img-fluid-90(src='~images/trident.png')
              .card-body
                h6.title Мембранные модульные системы
                p.card-text.
                  Реакционные сосуды из нержавеющей стали и других сплавов.
                  Снабжаются датчиками и постами управления по требованию заказчика
                  Возможно изготовление во взрывозащищенном исполнении
                a(class='d-flex align-items-center' href='/ru/membrans/modules')
                  span.mr-1 Посмотреть продукцию
                  i.icon-scroll-arrow-to-right-1
